.cor-grad {
  background-color: linear-gradient(135deg, #8844ee, #b07dfb);
}

.cor-w {
  color: white;
}

.cor-1 {
  color: #fafbfc;
}

.cor-p1 {
  color: #8844ee;
}

.cor-p2 {
  color: #b07dfb;
}

:root {
  --fundo-1: #fafbfc;
  --fundo-b: #ffffff;
  --cor-p1: #8844ee;
  --cor-p2: #b07dfb;
  --gradient: linear-gradient(135deg, #8844ee, #b07dfb);
}
:root {
  --fundo-1: #fafbfc;
  --fundo-b: #ffffff;
  --cor-p1: #8844ee;
  --cor-p2: #b07dfb;
  --gradient: linear-gradient(135deg, #8844ee, #b07dfb);
}
