body {
  font-family: "Volkhov", Georgia, serif;
}

.font-xxl {
  font-family: "Volkhov", Georgia, serif;
  font-size: 3.75rem;
  font-weight: 700;
}

.font-xl {
  font-family: "Volkhov", Georgia, serif;
  font-size: 3rem;
}

.font-l {
  font-family: "Volkhov", Georgia, serif;
  font-size: 1.5rem;
}

.font-m {
  font-family: "Volkhov", Georgia, serif;
  font-size: 1.125rem;
}

.font-s {
  font-family: "Volkhov", Georgia, serif;
  font-size: 0.875rem;
}

.font-s {
  font-family: "Volkhov", Georgia, serif;
  font-size: 0.875rem;
}
